* {
  margin: 0;
  padding: 0;
}

input,
button {
  padding: 0.25em;
}

.row {
  white-space: nowrap;
  overflow: hidden;
}
.row > * {
  display: inline-block;
}

body {
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

h4,
button#add_url {
  font-size: 1.1em;
  line-height: 1em;
}
button#add_url {
  margin-right: 10px;
}

#urls,
#contexts,
#regexs {
  margin: 0.5em 0 1.5em 0;
}
button#save {
  margin-top: 0.5em;
}

#urls ol,
#urls ol > li {
  list-style-position: inside;
}
#urls ol > li > input.url {
  width: calc(100% - 3em) !important;
}

#contexts > .row {
  margin-bottom: 0.25em;
}
#contexts > .row > input.context + label {
  margin-left: 0.5em;
}

#regexs {
  padding-left: 2em;
}
#regexs > ul > li + li > div {
  margin-top: 0.75em;
}
#regexs .override,
#regexs .pattern {
  margin-top: 0.5em;
}
#regexs h5 {
  font-size: 1.05em;
  line-height: 1em;
}
#regexs .override > label {
  margin-left: 0.5em;
}
#regexs .pattern > input {
  width: calc(100% - 3em) !important;
}
