<!DOCTYPE html>
<html ng-app="project">
<head>
  <title>Web Cast</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="popup.css">
  <script src="angular.min.js"></script>
  <script src="popup.js"></script>
</head>
<body ng-controller="WebCast">
  <div class="page-summary">Videos detected on the page #{{links.length}}</div>
  <div>Click on a video link to play it or send to Chromecast.</div>
  <div id="links">
  	<div data-ng-repeat="link in links" class="video-item">
  	  <img src="{{link.img}}" class="video-preview" id="{{link.id}}" >
      <a href="{{link.link}}" class="video-link" target="_blank" title="{{link.original}}">{{link.title}}</a>
  	</div>
  </div>
  <div><button data-ng-click="clearAll()">Clear videos list</button></div>
</body>
</html>


