<div id="media_control">
   <div ng-click="play()" ng-show="showPlay()" id="play"></div>
   <div ng-click="pause()" ng-show="showPause()" id="pause"></div>
   <input type="range" ng-model="progress" id="progress" min="0" max="1" value="0">
   <div ng-click="expandFullscreen()" ng-show="showFulscreenExpand()" id="fullscreen_expand"></div>
   <div ng-click="collapseFullscreen()" ng-show="showFulscreenCollapse()" id="fullscreen_collapse"></div>
   <div id="casticonactive" ng-click="stopCast()" ng-show="showStopCast()"></div>
   <div id="casticonidle" ng-click="startCast()" ng-show="showStartCast()"></div>
   <input type="range" ng-model="volume" id="volume" min="0" max="1" step="0.01">
   <div id="duration">{{duration}}</div>
   <div id="audio_on" ng-click="audioOn()" ng-show="showAudioOn()"></div>
   <div id="audio_off" ng-click="audioOff()" ng-show="showAudioOff()"></div>
</div>