#castbutton {
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    background: transparent;
    float: left;
    margin-right: 6px;
}

#castbutton:hover {
    cursor: pointer;
    --disconnected-color: white;
    --connected-color: white;
}

.vop-remote-display-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    display: none;
}

.vop-remote-display-status {
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 4em;
    opacity: .5;
    color: white;
    display: flex;
}

.vop-remote-display-status-icon {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 80px;
}

.vop-remote-display-status-text {
    flex: 1;
    font-size: 28px;
    line-height: 80px;
}
