body {
  margin: 0;
  padding: 15px;
}

.URL-entry-form {
}

.URL-entry-form input[type] {
  width: 100%;
  margin-bottom: 1em;
}

.player {
}

.container {
  width: 100%;
  margin: auto;
}

.html5-video-player {
  position: relative;
  width: 720px;
  height: 405px;
  background-color: black;
  font-size: 11px;
  outline: 0px;
}

.html5-video-player:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

/******** Begin Tooltip ********/
.vop-tooltip {
  position: absolute;

  bottom: 50px;
  z-index: 15;

  display: none;

  /*Don't enable select state*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vop-tooltip-bg {
  position: relative;
  width: 158px;
  height: 90px;
  background-color: #000;
  background-repeat: no-repeat;
  display: none;
}

.vop-tooltip-text-wrapper {
  border-radius: 3px;
  font-family: Verdana;
  font-size: 11px;
}

.vop-tooltip-text {
  display: block;
  color: white;
  background-color: rgba(28,28,28,0.9);
  border-radius: 2px;
  padding: 5px 9px;
}
/******** End Tooltip ********/

.vop-gradient-bottom {
  width:100%;position:absolute;background-repeat:repeat-x;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);-moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  pointer-events:none;
}

.vop-gradient-bottom { height:49px;padding-top:49px;bottom:0;z-index:2;background-position:bottom }

.vop-control-bar {
  position:absolute;
  text-shadow:0 0 2px rgba(0,0,0,.5);
  display: none;
}
.vop-control-bar {
  left: 12px;
  right: 12px;
  bottom: 0px;
  height: 45px;
  z-index: 2000;
  text-align: left;
  direction: ltr;
}
.vop-control-bar {
  -moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1)
}

.vop-progress-bar {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgba(192,192,192,0.3);
  cursor: pointer;
}

.vop-progress-list {
  position: absolute;
  background: rgba(255,255,255,.2);
  height: 100%;
  width: 100%;
}

.vop-load-progress,
.vop-play-progress,
.vop-hover-progress {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;

  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.vop-load-progress {
  background: rgba(255,255,255,.4);
}

.vop-play-progress {
  background-color: rgb(255,152,0);
  transform: scaleX(0);
}

.vop-hover-progress {
  background: rgba(255,255,255,.5);
  opacity: 0;
  -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.vop-progress-bar:hover .vop-hover-progress {
  opacity: 1;
}

.vop-scrubber-container {
  position:absolute;
  height:13px;
  width:13px;
  border-radius:6.5px;
  top:-4px;
  left:-6.5px;
  background-color: rgb(255,152,0);
  transform: translateX(0px);
  pointer-events: none;
}

.vop-controls {
  position: absolute;
  width: 100%;
  height: 36px;
  top: 8px;
  overflow: hidden;
}

.vop-left-controls {
  height: 100%;
  width: auto;
  float: left;
}

.vop-right-controls {
  height: 100%;
  width: auto;
  float: right;
}

/******** Begin custom button ********/
.vop-button {
  width: 36px;
  height: 36px;
  border: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;

  /*Don't enable select state*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vop-button:focus,
.vop-button {outline:0}
.vop-button::-moz-focus-inner {padding:0;border:0}

.vop-play-button,
.vop-mute-button,
.vop-volume-panel,
.vop-time-display {
  float: left;
}

/* time unit */
.vop-time-display {
  float: left;
  height: 100%;
  width: auto;
  padding-left: 6px;
  padding-top: 2px;
  display:table;

  /*Don't enable select state*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vop-time-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-weight: normal;
  font-size: 11px;
  font-family: Verdana;
}

.vop-subtitles-button {
  display: none;
}

/******** End custom button ********/

/************ Begin volume bar ************/
.vop-volume-panel {
  float: left;
  width: 52px;
  height: 100%;
  cursor: pointer;
}

.vop-volume-slider {
  position:relative;
  top:50%;
  height:3px;
  background-color: #fff;
}

.vop-volume-slider-handle {
  position:absolute;top:50%;width:10px;height:10px;border-radius:5px;margin-top:-5px;background:#fff;
}
/************ End volume bar ************/

.vop-autohide { cursor:none }
.vop-autohide .vop-gradient-bottom {
  display: none;
}
.vop-autohide .vop-control-bar {
  opacity: 0;
  -moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
  transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.vop-autohide * {
  cursor: none;
}

/************ Begin vop popup menu ************/
.vop-popup {
  position: absolute;
  overflow-x: auto;
  max-height: 240px;
  border-radius: 2px;
  background: rgba(28,28,28,0.9);
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  -moz-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  -webkit-transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  transition: opacity .1s cubic-bezier(0.0,0.0,0.2,1);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.vop-settings-menu {
  right: 11px;
  bottom: 45px;
}

.vop-panel {
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.vop-panel-header {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  line-height: inherit;
  color: #eee;
  padding: 6px 0;
  height: 33px;
  white-space: nowrap;
}

.vop-panel-title {
  font-weight: 500;
  padding: 0 10px 0 35px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left 3px center;
  background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -webkit-background-size: 32px 32px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNIDE5LjQxLDIwLjA5IDE0LjgzLDE1LjUgMTkuNDEsMTAuOTEgMTgsOS41IGwgLTYsNiA2LDYgeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);

  background-color:transparent;
  border:none;
  color:inherit;
  cursor: pointer;
  outline: 0px;
}

.vop-panel-title[role=plain] {
  background-image: none;
  padding: 0;
  width: 100%;
  font-size: 11px;
  font-family: Verdana;
}

.vop-panel-menu {
  padding: 6px 0;
  box-sizing: border-box;

  color: #eee;
  width: 100%;

  display: table;
}

.vop-menuitem {
  width: 100%;
  height: 33px;
  cursor: pointer;
  display: table-row;
  white-space: nowrap;
  outline: 0px;
}

.vop-menuitem:hover {
  background-color: rgba(255,255,255,.1);
}

.vop-menuitem-label {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  font-family: Verdana;
  font-size: 11px;
}

.vop-menuitem-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
  font-size: 11px;
  text-align: right;
  font-family: Verdana;
}

.vop-menuitem-content-text {
  font-size: 11px;
  font-family: Verdana;
  color: #ccc;
}

.vop-menuitem-toggle-checkbox {
  height: 14px;
  width: 36px;
  float: right;
  position: relative;
  border-radius: 14px;
  background: rgba(255,255,255,0.3);
  -moz-transition: all .08s cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: all .08s cubic-bezier(0.4,0.0,1,1);
  transition: all .08s cubic-bezier(0.4,0.0,1,1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1)
}

.vop-menuitem-toggle-checkbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-top: -3px;
  background-color: #bdbdbd;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.6);
  -moz-transition: all .08s cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: all .08s cubic-bezier(0.4,0.0,1,1);
  transition: all .08s cubic-bezier(0.4,0.0,1,1)
}

.vop-menuitem[role=menuitemradio]
 .vop-menuitem-label {
  padding-left: 35px;
  padding-right: 20px;
  border-bottom: none;
}

.vop-menuitem[role=menuitemradio][aria-checked=true]
  .vop-menuitem-label {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  -moz-background-size: 18px 18px;
  -webkit-background-size: 18px 18px;
  background-position: left 10px center;
}

.vop-menuitem[aria-haspopup=true]
  .vop-menuitem-content {
  background-repeat: no-repeat;
  background-position: right 9px center;
  background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -webkit-background-size: 32px 32px;
  padding-right: 38px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJtIDEyLjU5LDIwLjM0IDQuNTgsLTQuNTkgLTQuNTgsLTQuNTkgMS40MSwtMS40MSA2LDYgLTYsNiB6IiBmaWxsPSIjZmZmIiAvPjwvc3ZnPg==);
}

.vop-menuitem[aria-checked="true"]
  .vop-menuitem-toggle-checkbox {
  background: rgb(255,152,0)
}

.vop-menuitem[aria-checked="true"]
  .vop-menuitem-toggle-checkbox:after {
  background-color: #fff;
  -moz-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -webkit-transform: translateX(16px);
  transform: translateX(16px)
}

/************ End vop popup menu ************/

/************ Begin loading animation ************/
.vop-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
  display: none;
}

.vop-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: vop-spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation: vop-spinner-linspin 1568.23529647ms linear infinite;
}

.vop-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: vop-spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: vop-spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}

.vop-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden
}

.vop-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden
}

.vop-spinner-left {
  right: 49%
}

.vop-spinner-right {
  left: 49%
}

.vop-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #ddd #ddd transparent;
  border-radius: 50%;
  border-width: 6px
}

.vop-spinner-left .vop-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: transparent;
  -webkit-animation: vop-spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: vop-spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}

.vop-spinner-right .vop-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: transparent;
  -webkit-animation: vop-spinner-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation: vop-spinner-right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
}

@-webkit-keyframes vop-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes vop-spinner-linspin {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes vop-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg)
  }

  25% {
    -webkit-transform: rotate(270deg)
  }

  37.5% {
    -webkit-transform: rotate(405deg)
  }

  50% {
    -webkit-transform: rotate(540deg)
  }

  62.5% {
    -webkit-transform: rotate(675deg)
  }

  75% {
    -webkit-transform: rotate(810deg)
  }

  87.5% {
    -webkit-transform: rotate(945deg)
  }

  to {
    -webkit-transform: rotate(1080deg)
  }
}

@keyframes vop-spinner-easespin {
  12.5% {
    transform: rotate(135deg)
  }

  25% {
    transform: rotate(270deg)
  }

  37.5% {
    transform: rotate(405deg)
  }

  50% {
    transform: rotate(540deg)
  }

  62.5% {
    transform: rotate(675deg)
  }

  75% {
    transform: rotate(810deg)
  }

  87.5% {
    transform: rotate(945deg)
  }

  to {
    transform: rotate(1080deg)
  }
}

@-webkit-keyframes vop-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg)
  }

  50% {
    -webkit-transform: rotate(-5deg)
  }

  to {
    -webkit-transform: rotate(130deg)
  }
}

@keyframes vop-spinner-left-spin {
  0% {
    transform: rotate(130deg)
  }

  50% {
    transform: rotate(-5deg)
  }

  to {
    transform: rotate(130deg)
  }
}

@-webkit-keyframes vop-spinner-right-spin {
  0% {
    -webkit-transform: rotate(-130deg)
  }

  50% {
    -webkit-transform: rotate(5deg)
  }

  to {
    -webkit-transform: rotate(-130deg)
  }
}

@keyframes vop-spinner-right-spin {
  0% {
    transform: rotate(-130deg)
  }

  50% {
    transform: rotate(5deg)
  }

  to {
    transform: rotate(-130deg)
  }
}

/************ End loading animation ************/

.player-info {
  margin-top: 1.5em;
  height: 24px;
}

.player-info a,
.player-info a:visited {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.player-info a:hover {
  border-bottom: 1px #333 dotted;
}

.player-info * {
  vertical-align: middle;
  line-height: 24px;
}

.player-info i.material-icons {
  cursor: pointer;
  margin-right: 0.2em;
}
