* {
  margin: 0;
  padding: 0;
}

html,
html > body,
html > body > #root,
html > body > #root > #app {
  width: 100%;
  min-width: 600px;
  overflow-x: hidden;
}

html > body > #root > #app {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  color: #999;
}

/* -----------------------------------------------------------------------------
 * top navbar: media types
 */

html > body > #root > #app > header > #media-type-options {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

html > body > #root > #app > header > #media-type-options > button {
  display: inline-block;
  margin: 1px;
  width: calc(25% - 2px);
  text-align: center;
  text-transform: capitalize;
}

/* -----------------------------------------------------------------------------
 * headings, container for all links
 */

html > body > #root > #app > header > h3 {
  color: #000;
  font-size: 1.25em;
}
html > body > #root > #app > header > #actions {
  margin: 10px 0;
}

html > body > #root > #app > section > h4 {
  font-size: 1.10em;
}
html > body > #root > #app > section > #links {
  margin: 10px 0;
}

/* -----------------------------------------------------------------------------
 * actions, toggles
 */

html > body > #root > #app > header > #actions {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
html > body > #root > #app > header > #actions > button,
html > body > #root > #app > header > #actions > .selected_website,
html > body > #root > #app > header > #actions > .toggles {
  display: inline-block;
  vertical-align: top;
}
html > body > #root > #app > header > #actions > .selected_website,
html > body > #root > #app > header > #actions > .toggles {
  margin-left: 1em;
}
html > body > #root > #app > header > #actions > .selected_website > h4 {
  color: #000;
  font-size: 1.10em;
  margin-bottom: 6px;
}
html > body > #root > #app > header > #actions > .selected_website select > option {
  font-family: monospace;
}
html > body > #root > #app > header > #actions > .toggles > .toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
html > body > #root > #app > header > #actions > .toggles > .toggle + .toggle {
  margin-left: 6px;
}

/* -----------------------------------------------------------------------------
 * defaults: audios, videos
 */

html > body > #root > #app > section > #links > .media-item,
html > body > #root > #app > section > #links > .media-item > .text-container {
  white-space: nowrap;
  overflow: hidden;
}

html > body > #root > #app > section > #links > .media-item {
  display: block;
  height: 60px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}
html > body > #root > #app > section > #links > .media-item:last-child {
  border-bottom: none;
}

html > body > #root > #app > section > #links > .media-item > .icons-container,
html > body > #root > #app > section > #links > .media-item > .text-container {
  display: inline-block;
  height: 60px;
  max-height: 60px;
  vertical-align: top;
}

html > body > #root > #app > section > #links > .media-item > .icons-container {
  position: relative;
  z-index: 0;
  width: 60px;
  margin-right: 10px;
  background-color: #d7ecf5;
  border: 1px solid #000;
  border-radius: 14px;
}

html > body > #root > #app > section > #links > .media-item > .text-container {
  max-width: calc(100% - 70px);
  text-overflow: ellipsis;
}
html > body > #root > #app > section > #links > .media-item > .text-container > a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
  font-size: 1em;
  line-height: 60px;
}
html > body > #root > #app > section > #links > .media-item > .text-container > a:hover {
  color: #000;
}

html > body > #root > #app > section > #links > .media-item > .icons-container > a.chromecast,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.chromecast > img,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay > img,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.proxy,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.proxy > img,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.media-link,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.media-link > img {
  display: block;
  width: 25px;
  height: 25px;
}

html > body > #root > #app > section > #links > .media-item > .icons-container > a.chromecast,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.proxy,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.media-link {
  position: absolute;
  z-index: 1;
  text-decoration: none;
}

html > body > #root > #app > section > #links > .media-item > .icons-container > a.chromecast,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay {
  top: 0;
}
html > body > #root > #app > section > #links > .media-item > .icons-container > a.proxy,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.media-link {
  bottom: 0;
}

html > body > #root > #app > section > #links > .media-item > .icons-container > a.chromecast,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.proxy {
  left: 0;
}
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay,
html > body > #root > #app > section > #links > .media-item > .icons-container > a.media-link {
  right: 0;
}
html > body > #root > #app > section > #links > .media-item > .icons-container > a.airplay + a.media-link {
  right: 17px; /* (60 - 25)/2 to center when there is no proxy icon */
}

/* -----------------------------------------------------------------------------
 * captions
 */

html > body > #root > #app > section > #links > .non-av.media-item,
html > body > #root > #app > section > #links > .non-av.media-item > .icons-container,
html > body > #root > #app > section > #links > .non-av.media-item > .text-container {
  height: 45px;
  max-height: 45px;
}

html > body > #root > #app > section > #links > .non-av.media-item > .icons-container {
  width: 45px;
}

html > body > #root > #app > section > #links > .non-av.media-item > .icons-container > a.media-link {
  bottom: 10px;
  right: 10px;
}

html > body > #root > #app > section > #links > .non-av.media-item > .text-container > a {
  line-height: 45px;
}

/* -----------------------------------------------------------------------------
 * buttons: top navbar, actions
 */

html > body > #root > #app > header > div > button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.25em;
  background: #eee;
  color: #000;
  border: 2px #000 solid;
  transition: border 0.5s;
  transition: border-color 0.5s;
}
html > body > #root > #app > header > div > button:hover,
html > body > #root > #app > header > div > button[disabled] {
  color: #999;
  border-color: #999;
}

/* -----------------------------------------------------------------------------
 * toggle: pin
 */

html > body > #root > #app > header > #actions > .toggles > .toggle#pin {
  background-image: url("../img/toggle-pin-on.png");
}
html,
html > body,
html > body > #root,
html > body > #root > #app {
  height: 100%;
  min-height: 500px;
  overflow-y: auto;
}
html > body > #root > #app > header,
html > body > #root > #app > section {
  height: auto;
}

html.pin > body > #root > #app > header > #actions > .toggles > .toggle#pin {
  background-image: url("../img/toggle-pin-off.png");
}
html.pin,
html.pin > body,
html.pin > body > #root,
html.pin > body > #root > #app {
  overflow-y: hidden;
}
html.pin > body > #root > #app {
  height: calc(100vh - 20px);
}
html.pin > body > #root > #app > header {
  position: fixed;
  width: calc(100% - 20px);
  height: 155px;
  overflow-y: hidden;
}
html.pin > body > #root > #app > section {
  position: relative;
  top: 155px;
  height: calc(100vh - 20px - 155px);
  overflow-x: hidden;
  overflow-y: auto;
}

/* -----------------------------------------------------------------------------
 * toggle: full-url
 */

html > body > #root > #app > header > #actions > .toggles > .toggle#full-url {
  background-image: url("../img/toggle-full-url-on.png");
}

html.full-url > body > #root > #app > header > #actions > .toggles > .toggle#full-url {
  background-image: url("../img/toggle-full-url-off.png");
}
html.full-url > body > #root > #app > section > #links > .media-item,
html.full-url > body > #root > #app > section > #links > .media-item > .text-container {
  height: auto;
  min-height: 45px;
  max-height: unset;
}
html.full-url > body > #root > #app > section > #links > .media-item > .text-container {
  white-space: normal;
  text-overflow: unset;
}
html.full-url > body > #root > #app > section > #links > .media-item > .text-container > a {
  line-height: 1em;
  line-break: anywhere;
}
